@charset "UTF-8";
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #343434;
}
body{
    min-width: 1260px;
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 14px;
    line-height: 1.5em;
    color: #343434;
}

/*banner*/
.swiper {
	width: 100%;
	height: 100%;
  }

  .swiper-slide {
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
#banner{
	background: url(../images/bg_skyblue.svg) no-repeat center bottom;
	height: 670px;
}

/*quick*/
#quick_wrap{
	margin: 0 auto;
	width: 1200px;
	position: relative;
}
#quick{
    width: 380px;
    height: 380px;
    background-color: #fff;
    border-radius: 30px;
	position: absolute;
	top: -500px;
	right: 30px;
	z-index: 9;
}
#quick_inner{
    padding: 35px 40px;
    text-align: center;
}
.quick_title, .quick_title p{
    display: inline-block;
	font-size: 24px;
    font-weight: 900;
    color: #707070;
	padding-top: 15px;
}
.quick_title span{
    font-family: 'NEXON Lv2 Gothic';
}
.quick_title img{
	float: left;
	padding: 8px 7px 0 0;
}
#box1{
	margin: 0 auto;
	padding: 20px 0 13px;
	display: inline-block;
}
#box1> li{
	float: left;
	display: inline-block;
	font-size: 18px;
	text-align: center;
	margin-right: 57px;
	padding: 5px;
	box-sizing: border-box;
}
#box1> li:nth-child(3){
	margin-right: 0;
}
.tab{
	cursor: pointer;
	display: inline-block;
}
.tab:hover{
	border-bottom: 3px solid #6FC9F2;
}
.opacity{
	border-bottom: 3px solid #6FC9F2;
}
#box1> li.on> .box1_1 {
	width: 100%;
}
#box1> li> .box1_1 {
	height: 0;
	overflow: hidden; 
}
.box1_1 {
	width: 100%;
	margin: 0 auto;
}
.input, .select{
	width: 300px;
	height: 38px;
	border: 1px solid #A5A5A5;
	padding-left: 30px;
	padding-top: 10px;
	box-sizing: border-box;
	margin-bottom: 8px;
	background-repeat: no-repeat;
	background-color: #fff;
}
.input input, .select input{
	width: 230px;
	font-family: 'NEXON Lv1 Gothic OTF';
	font-size: 17px;
	border: none;
	outline: none;
}
.tab_detail li input::placeholder{
	color: #D9D9D9;
}
.input{
	background-image: url(../images/quick_icon3.png);
	background-position: center left 20px;
}
.select{
	background-image: url(../images/quick_icon4.png);
	background-position: center left 15px;
}
.tab_search{
	display: block;
	background: linear-gradient(to bottom, #6FC9F2, #99E6F9);
	border-radius: 20px;
	margin-top: 23px;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	padding: 10px;
	box-sizing: border-box;
}
.input_s, .input_e{
	width: 140px;
	height: 38px;
}
.input_s{
	float: left;
}
.input_e{
	float: right;
}
.input_s input, .input_e input{
	width: 70px;
}
.tab_detail li:nth-child(1){
	position: relative;
	height: 46px;
}
.input_btn{
	position: absolute;
	top: 3px;
	left: 136px;
	z-index: 9;
	cursor: pointer;
}
.input_number{
	background-image: url(../images/quick_icon5.png);
	background-position: center left 15px;
}
/* x없애기, IE의 경우 */
input::-ms-clear,
input::-ms-reveal{
    display:none;
}
/* x없애기, 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

/*bg_white*/
#bg_white{
	position: absolute;
	top: 595px;
	left: 0;
	width: 100%;
	z-index: 9;
	overflow: hidden;
}

/*section1*/
#section1{
	margin: 120px auto;
	width: 1200px;
	height: 370px;
}
.title{
	font-size: 24px;
	font-weight: 900;
	border-bottom: 3px solid #ABE7F6;
	display: inline-block;
	padding: 10px 18px;
}
.title p{
	display: inline-block;
}
.title_add{
	display: inline-block;
	padding-left: 35px;
	padding-top: 10px;
	background: url(../images/section1_icon.png) no-repeat top 5px left;
}
#section1 ul{
	overflow: hidden;
	margin-top: 30px;
}
#section1 ul li{
	float: left;
	width: 208px;
	margin-right: 40px;
}
#section1 ul li:nth-child(5){
	margin-right: 0;
}
.top{
	width: 210px;
	height: 290px;
	position: relative;
	overflow: hidden;
}
.top_txt{
	position: absolute;
	top: 55px;
	left: 0;
	width: 100%;
	color: #fff;
	font-size: 16px;
	font-weight: 800;
	text-align: center;
}
.top_txt span{
	display: block;
	font-size: 13px;
	font-weight: 500;
	margin-top: 0px;
	text-align: left;
	padding: 10px 0 10px 50px;
	background: url(../images/section1_top_icon.png) no-repeat top 6px left 17px;
}
.top_hover{
	transform: translateY(300px);
	transition: all 1s;
	opacity: 0;
}
#section1 ul li:hover .top_hover{
	transform: translateY(0);
	opacity: 1;
}
.img_position{
	position: absolute;
	bottom: 0;
	left: 18px;
	width: 100%;
}
.img_cover{
	position: relative;
	width: 170px;
	height: 170px;
	border-radius: 50%;
}
.img_wrap{
	overflow: hidden;
	width: 170px;
	height: 170px;
	border-radius: 50%;
}
.img_wrap img{
	width: 100%;
	display: block;
	transition: transform 1s;
}
#section1 ul li:hover .img_wrap img{
	transform: scale(1.1);
}
.cover{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	color: #fff;
	font-size: 21px;
	font-weight: 900;
	text-align: center;
	padding-top: 77px;
	box-sizing: border-box;
	opacity: 0;
	transition: opacity 1s;
}
#section1 ul li:hover .cover{
	opacity: 1;
}

/*section2_3_wrap*/
#section2_3_wrap{
	height: 1707px;
	background: url(../images/bg_sky.svg) no-repeat top left;
	background-size: cover;
	overflow: hidden;
}

/*section2*/
#section2{
	margin: 0 auto;
	width: 1200px;
	height: 958px;
	background: url(../images/section2_airplane.svg) no-repeat top 165px left;
}
#section2 .title{
	background: url(../images/section2_icon1.png) no-repeat top 57px right 22px;
	padding-right: 60px;
	padding-top: 60px;
}
.section2_left{
	width: 680px;
	padding-top: 488px;
	padding-left: 250px;
	box-sizing: border-box;
	float: left;
}
.section2_quick{
	width: 446px;
	height: 158px;
	position: relative;
}
.section2_quick ul li{
	float: left;
}
.section2_quick .input{
	width: 209px;
	height: 48px;
	border: none;
	border-radius: 10px;
	box-shadow: 3px 3px 6px #92E2F6;
	background-image: none;
	margin-right: 14px;
	margin-bottom: 10px;
	position: relative;
}
.section2_quick p{
	font-size: 12px;
	color: #17B7D0;
	position: absolute;
	top: 5px;
	left: 10px;
}
.section2_quick .input input{
	width: 180px;
	font-size: 14px;
	font-weight: 900;
	position: absolute;
	top: 25px;
	left: 10px;
}
.section2_quick .input input::placeholder{
	color: #A5A5A5;
}
.section2_quick ul li:nth-child(2) div.input input.input_color::placeholder{
	color: #707070;
}
.section2_quick .input .day{
	width: 90px;
}
.section2_quick .input .day2{
	position: absolute;
	top: 25px;
	left: 110px;
}
.section2_quick ul li:nth-child(3) div.input span{
	font-size: 14px;
	font-weight: 900;
	color: #A5A5A5;
	position: absolute;
	top: 23px;
	left: 98px;
}
.section2_search{
	font-size: 15px;
	color: #fff;
	background-color: #17B7D0;
	border-radius: 10px;
	display: inline-block;
	width: 85px;
	height: 35px;
	text-align: center;
	box-shadow: 3px 3px 6px #92E2F6;
	position: absolute;
	top: 120px;
	left: 175px;
	padding-top: 7px;
	box-sizing: border-box;
}
.section2_icon2{
	position: absolute;
	top: 7px;
	left: 202px;
	z-index: 9;
	cursor: pointer;
}
.section2_right{
	width: 520px;
	float: right;
	position: relative;
}
.line1{
	width: 248px;
}
.big_box{
	width: 248px;
	height: 248px;
	background-color: #fff;
	border-radius: 70px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	padding: 60px 22px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 27px;
	color: #808080;
	margin-bottom: 14px;
	transition: transform 0.5s;
}
.big_box:hover{
	transform: translate(-10px, -10px);
}
.big_title{
	font-size: 18px;
	font-weight: 900;
	color: #17B7D0;
	margin-bottom: 17px;
}
.big_tag span{
	margin-left: 10px;
}
.big_price{
	font-size: 21px;
	font-weight: 900;
	margin-top: 15px;
	color: #343434;
}
.big_price span{
	font-size: 18px;
	font-weight: 500;
}
.line1_icon{
	position: absolute;
	top: -30px;
	left: 0;
	width: 100%;
	z-index: 9;
}
.mini_box{
	width: 116px;
	height: 116px;
	background-color: #fff;
	border-radius: 40px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	padding: 25px 9px;
	box-sizing: border-box;
	font-size: 11px;
	font-weight: 900;
	line-height: 12px;
	color: #17B7D0;
	float: right;
	margin-bottom: 14px;
	transition: transform 0.5s;
}
.mini_box:hover{
	transform: translate(-5px, -5px);
}
.mini_price{
	font-size: 14px;
	color: #343434;
	margin-top: 17px;
}
.mini_price span{
	font-size: 11px;
	font-weight: 500;
}
.line2{
	position: absolute;
	top: 0;
	left: 262px;
}
.line3{
	position: absolute;
	top: 130px;
	left: 392px;
}
.section2_more{
	display: block;
	font-family: 'NEXON Lv2 Gothic';
	color: #17B7D0;
	font-size: 12px;
	transform: rotate(90deg);
	position: absolute;
	top: 438px;
	left: 350px;
}
.section2_more:hover{
	font-weight: 700;
}

/*section3*/
#section3{
	margin: 0 auto;
	width: 1200px;
}
#section3 .title_color{
	color: #17B7D0;
}
#section3 .title_add{
	background: url(../images/section3_icon1.png) no-repeat top 5px left;
}

/*product*/
.product_wrap{
	background: url(../images/section3_bg.svg) no-repeat center;
	height: 548px;
	margin-top: 100px;
}
.product{
	margin: 0 auto;
	width: 1200px;
	padding-top: 102px;
	position: relative;
}
.swiper1_wrap{
	overflow: hidden;
}
.product .swiper1 {
	width: 100%;
	height: 100%;
  }
@media (max-width: 760px) {
	.product .swiper-button-next {
	  right: 20px;
	  transform: rotate(90deg);
	}

	.product .swiper-button-prev {
	  left: 20px;
	  transform: rotate(90deg);
	}
  }
.product .swiper-button-next::after{
	display: none;
}
.product .swiper-button-prev::after{
	display: none;
}
.product .swiper-button-next{
	position: absolute;
	top: -35px;
	right: 10px;
	z-index: 9;
}
.product .swiper-button-prev{
	position: absolute;
	top: -35px;
	left: 1110px;
	z-index: 9;
}
.product_img img{
	width: 270px;
	height: 275px;
}
.product_txt{
	width: 270px;
	height: 70px;
	background-color: #fff;
	font-family: 'NEXON Lv2 Gothic';
	font-size: 14px;
	line-height: 19px;
	color: #17B7D0;
	padding: 15px;
	box-sizing: border-box;
	text-align: left;
	position: relative;
}
.product_txt a{
	display: inline-block;
	background-color: #17B7D0;
	font-size: 11px;
	color: #fff;
	border-radius: 30px;
	padding: 0 12px;
	position: absolute;
	bottom: 10px;
	right: 15px;
}

/*txt_flow*/
.txt_flow{
	background-color: #28B9AD;
	height: 46px;
	overflow: hidden;
}
.animated-title {
	font-family: 'NEXON Lv2 Gothic';
	font-size: 18px;
	color: #fff;
	padding-top: 5px;
	position: relative;
}
.animated-title .track1 {
	position: absolute;
	top: 0;
	z-index: 9;
	white-space: nowrap;
	will-change: transform;
	animation: marquee1 40s linear infinite;
}
.animated-title .track1 .content{
	padding-top: 12px;
	box-sizing: border-box;
}
.animated-title .track1 .content span{
	margin-left: 50px;
}
@keyframes marquee1 {
	from {
		transform: translateX(-50%);
	}
	to {
		 transform: translateX(0);
	}
}
@media (hover: hover) and (min-width: 700px) {
	.animated-title .content {
		-webkit-transform: translateY(calc(100% - 8rem));
		transform: translateY(calc(100% - 2rem));
	   
	}
}

/*section4*/
#section4{
	margin: 0 auto;
	width: 1200px;
}
#section4 .title{
	background: url(../images/section4_icon1.png) no-repeat top 5px right 18px;
	padding-right: 60px;
	margin: 178px 0 97px 0;
}
/*local_category*/
.local_category{
	height: 525px;
	overflow: hidden;
}
.local_attraction{
	float: left;
}
.local_restaurant{
	float: left;
	margin: 147px 88px 0;
}
.local_cafe{
	float: left;
}
.local_position{
	position: relative;
	width: 334px;
	height: 334px;
}
.local_title{
	font-size: 23px;
	font-weight: 900;
	color: #17B7D0;
	position: absolute;
	top: 320px;
	left: 10px;
	line-height: 25px;
}
.local_title span{
	display: block;
	font-size: 17px;
	font-weight: 500;
	color: #168292;
}
.section4_more{
	font-family: 'NEXON Lv2 Gothic';
	color: #17B7D0;
	font-size: 13px;
	transform: rotate(-90deg);
	position: absolute;
	top: 47px;
	right: -75px;
}
.section4_more:hover{
	font-weight: 700;
}
.more_line{
	width: 1px;
	height: 183px;
	background-color: #17B7D0;
	position: absolute;
	top: 125px;
	right: -18px;
}
.local_restaurant .section4_more{
	transform: rotate(0);
	position: absolute;
	top: -30px;
	right: 0;
}
.local_restaurant .more_line{
	width: 183px;
	height: 1px;
	position: absolute; 
	top: -20px;
	left: 25px;
}
.local_cafe .section4_more{
	position: absolute;
	right: -294px;
	bottom: -172px;
}
.local_cafe .more_line{
	width: 1px;
	height: 183px;
	position: absolute;
	top: 25px;
	right: -18px;
}
.local_img_wrap{
	width: 334px;
	height: 334px;
	overflow: hidden;
}
.local_img_wrap img{
	transition: transform 1s;
}
.local_img_wrap img:hover{
	transform: scale(1.1);
}
/*local_best*/
.local_best{
	margin-top: 110px;
	border-top: solid 1px #A5A5A5;
	border-bottom: solid 1px #A5A5A5;
	height: 555px;
}
.best_title{
	margin: 32px 0 22px;
	font-size: 23px;
	font-weight: 900;
	padding-left: 38px;
	padding: 10px 0 6px 38px;
	background: url(../images/section4_icon2.png) no-repeat left top 5px;
}
.best_title span{
	color: #17B7D0;
}
.best_img{
	float: left;
	width: 595px;
}
.best_txt{
	float: right;
	width: 493px;
}
.post_title{
	font-size: 21px;
	font-weight: 900;
	line-height: 24px;
}
.profile{
	font-family: 'NEXON Lv2 Gothic';
	font-size: 14px;
	margin-top: 10px;
	line-height: 26px;
}
.profile_img{
	float: left;
	margin-right: 10px;
}
.profile_name span{
	color: #17B7D0;
}
.profile_country{
	font-size: 12px;
	line-height: 17px;
}
.profile_country span{
	padding-left: 22px;
	background: url(../images/section4_icon4.png) no-repeat center left;
}
.post_content{
	font-size: 12px;
	line-height: 22px;
	color: #707070;
}
.post_content p{
	margin-top: 25px;
}
.post_content a{
	display: inline-block;
	background-color: #17B7D0;
	padding: 2px 13px;
	border-radius: 70px;
	color: #fff;
	margin-top: 25px;
}
.post_content a:hover{
	font-weight: 900;
}
.review_more{
	position: relative;
}
.review_click{
	display: block;
	font-family: 'NEXON Lv2 Gothic';
	font-size: 13px;
	color: #17B7D0;
	margin-top: 15px;
}
.review_click:hover{
	font-weight: 900;
}
.review_line{
	width: 183px;
	height: 1px;
	background-color: #17B7D0;
	position: absolute;
	top: 10px;
	left: 130px;
}

/*section5*/
#section5{
	margin: 0 auto;
	width: 1200px;
	padding-bottom: 200px;
	overflow: hidden;
}
#section5 .title{
	margin-top: 175px;
	background: url(../images/section5_icon1.png) no-repeat center right 18px;
	padding-right: 60px;
}
/*event*/
.slider {
	width: 100%;
	margin: 100px auto;
}
.slick-slide img {
  width: 585px;
  height: 360px;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}

/*app_banner*/
#app_banner{
	background: url(../images/app_banner.jpg) no-repeat center;
	height: 550px;
	
}
.app_wrap{
	margin: 0 auto;
	width: 1200px;
	position: relative;
}
.app_position{
	position: absolute;
	top: 420px;
	right: 75px;
}
/*txt_flow*/
.txt_flow2{
	background-color: #17B7D0;
}


/*sub1_회사소개*/

/*cate*/
.sub_cate{
	background-repeat: no-repeat;
	background-position: center;
	height: 430px;
	text-align: center;
}
.sub1_cate{
	background-image: url(../images/sub1_cate_bg.svg);
}
.sub_cate p{
	font-size: 42px;
	font-weight: 900;
	color: #fff;
	display: inline-block;
}
.vertical_m{
	display: inline-block;
	height: 430px;
	vertical-align: middle;
}

/*section1*/
#sub1_section1_wrap{
	background: url(../images/sub1_section1_bg.svg) no-repeat center;
	height: 950px;
}
.sub_section{
	margin: 0 auto;
	width: 1200px;
	text-align: center;
	color: #707070;
}
.sub_title{
	font-size: 24px;
	font-weight: 900;
	padding-top: 130px;
	color: #343434;
}
.sub_title_underline{
	background-color: #17B7D0;
	width: 60px;
	height: 5px;
	border-radius: 50px;
	display: inline-block;
	margin-top: 15px;
}
.sub_title_add{
	font-family: 'NEXON Lv2 Gothic';
	font-size: 22px;
	margin: 40px 0 35px;
}
.www_txt{
	margin-top: 90px;
}

/*section2*/
#sub1_section2 ul{
	overflow: hidden;
	margin: 100px 0 70px;
	display: inline-block;
}
#sub1_section2 ul li{
	float: left;
}
#sub1_section2 ul li:nth-child(2){
	margin: 0 160px;
}
.core{
	font-size: 38px;
	font-weight: 900;
	color: #028FCF;
	margin: 70px 0 50px;
}
.core_txt{
	font-family: 'NEXON Lv2 Gothic';
	font-size: 21px;
	line-height: 33px;
}

/*section3*/
#sub1_section3 .sub_title_add span{
	color: #17B7D0;
	font-weight: 900;
}
.ci_title{
	color: #17B7D0;
	font-size: 24px;
	font-weight: 900;
	text-align: left;
	margin: 90px 0 40px;
}
.ci_logo ul{
	overflow: hidden;
	text-align: right;
	font-size: 15px;
	font-family: 'NEXON Lv2 Gothic';
	color: #808080;
}
.ci_logo ul li:nth-child(1){
	float: left;
}
.ci_logo ul li:nth-child(2){
	float: right;
}
.ci_txt{
	font-family: 'NEXON Lv2 Gothic';
	font-size: 22px;
	line-height: 33px;
	margin-top: 110px;
}
.ci_txt p{
	margin-bottom: 42px;
}
.ci_color ul{
	overflow: hidden;
	text-align: left;
	margin-bottom: 147px;
}
.ci_color ul li{
	float: left;
	width: 400px;
	height: 80px;
}
.ci_color ul li:nth-child(1){
	background-color: #17B7D0;
}
.ci_color ul li:nth-child(2){
	background-color: #28B9AD;
}
.ci_color ul li:nth-child(3){
	background-color: #D5F1F8;
}
.ci_color ul li p{
	padding: 50px 0 16px 16px;
	font-family: 'NEXON Lv2 Gothic';
	font-size: 19px;
	font-weight: 900; 
	color: #fff;
}

/*section4*/
#sub1_section4{
	position: relative;
}
#sub1_section4 ul{
	margin: 100px 0 90px;
	overflow: hidden;
	text-align: left;
}
#sub1_section4 ul li{
	float: left;
	height: 60px;
	background-repeat: no-repeat;
	background-position: left center;
	font-family: 'NEXON Lv2 Gothic';
	font-size: 20px;
	box-sizing: border-box;
}
#sub1_section4 ul li:nth-child(1){
	background-image: url(../images/sub1_section4_icon1.png);
	padding-left: 70px;
}
#sub1_section4 ul li:nth-child(2){
	background-image: url(../images/sub1_section4_icon2.png);
	padding-left: 80px;
	margin: 0 108px 0 123px;
}
#sub1_section4 ul li:nth-child(3){
	float: right;
	background-image: url(../images/sub1_section4_icon3.png);
	padding-left: 75px;
	font-size: 15px;
}
#sub1_section4 ul li strong{
	display: block;
	font-size: 24px;
	font-weight: 900;
	margin: 5px 0 15px;
}
.ani_wrap{
	width: 1200px;
	overflow: hidden;
}
.ani{
	position: absolute;
	top: 160px;
	right: -253px;
	z-index: 9;
	animation: ani 15s infinite linear;
}
@keyframes ani{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*map*/
.map{
	text-align: center;
	height: 600px;
}


/*sub2_LOCAL커뮤니티*/

/*cate*/
.sub2_cate{
	background-image: url(../images/sub2_cate_bg.svg);
}

/*section1*/
.sub_title span{
	color: #17B7D0;
}
#sub2_section1 ul{
	height: 540px;
	margin-top: 105px;
}
#sub2_section1 ul li{
	float: left;
	position: relative;
}
#sub2_section1 ul li:nth-child(2){
	margin: 0 72px;
}
#sub2_section1 ul li a{
	display: block;
	border: 1.5px solid #17B7D0;
}
.icon_medal{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}
.sub_best_img{
	width: 350px;
	height: 350px;
	overflow: hidden;
}
.sub_best_img img{
	transition: transform 1s;
}
.sub_best_img img:hover{
	transform: scale(1.1);
}
.sub_best_txt{
	height: 136px;
	text-align: left;
	font-family: 'NEXON Lv2 Gothic';
}
.sub_best_cate{
	display: inline-block;
	background-color: #17B7D0;
	padding: 7px 15px;
	border-radius: 30px;
	font-size: 15px;
	color: #fff;
	margin: 17px;
}
.sub_best_title{
	font-size: 19px;
	font-weight: 900;
	margin: 3px 17px 20px;
}
.sub_best_hits{
	text-align: right;
	font-size: 13px;
	font-weight: 900;
	color: #707070;
	margin-right: 17px;
	margin-top: -5px;
}

/*section2*/
#sub2_section2{
	padding-top: 100px;
}
#community_board{
	width: 1200px;
	height: 720px;
    position: relative;
}
#community_board> li{
    float: left;
    width: 33.3%;
}
#community_board> li> a{
    display: block;
    padding: 20px 0;
	text-align: center;
	font-size: 22px;
	font-weight: 900;
	color: #17B7D0;
	border-bottom: 1.5px solid #17B7D0;
}
#community_board> li.community_on> a{
	border: 1.5px solid #17B7D0;
	border-bottom: none;
}
.place{
    height: 0;
    overflow: hidden;
	font-family: 'NEXON Lv2 Gothic';
}
#community_board> li.community_on> .place{ 
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    height: 658px;
}
.search_wrap{
	float: right;
	margin: 40px 0 40px;
}
.search_input{
	width: 295px;
	height: 45px;
	border: 3px solid #17B7D0;
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
}
.search_input input{
	width: 260px;
	font-family: 'NEXON Lv2 Gothic';
	font-size: 20px;
	border: none;
	outline: none;
}
.search_input input::placeholder{
	color: #A5A5A5;
}
.search_wrap a{
	display: inline-block;
	background-color: #17B7D0;
	font-size: 20px;
	font-weight: 900;
	color: #fff;
	padding: 12px 20px;
	vertical-align: middle;
	margin-left: 25px;
}

.place> p{
	clear: both;
	font-size: 20px;
	font-weight: 900;
	color: #A5A5A5;
	float: left;
}
.width35{
	width: 35%;
}
.width15{
	width: 15%;
}
.place> ul, .place> ul> li{
	clear: both;
}
.place> ul> li p{
	float: left;
}
.place> ul> li:nth-child(1) p{
	font-size: 20px;
	font-weight: 900;
	color: #343434;
	padding: 30px 0;
	background-color: #EEEEEE;
	border-top: 3px solid #17B7D0;
	margin-top: 18px;
}
.place> ul> li> a{
	display: block;
	padding: 15px 0;
	font-size: 18px;
	border-top: 1.5px solid #17B7D0;
	overflow: hidden;
}
.place> ul> li> a:hover{
	font-weight: 900;
}
.place> ul> li> a> div{
	padding: 7px;
}
.place> ul> li:nth-child(6) a{
	border-bottom: 1.5px solid #17B7D0;
}
.review_cate{
	font-size: 15px;
	background-color: #17B7D0;
	padding: 5px 15px;
	border-radius: 30px;
	color: #fff;
	float: left;
	margin-left: 20px;
}

.page_wrap{
	margin-top: 65px;
	position: relative;
}
.page_wrap> a{
	display: inline-block;
	vertical-align: middle;
}
.page{
	display: inline-block;
	vertical-align: middle;
}
.page li{
	display: inline-block;
	margin: 0 2px;
}
.page li:nth-child(1){
	margin-left: 10px;
}
.page li:nth-child(10){
	margin-right: 10px;
}
.page li a{
	display: inline-block;
	padding: 0 2px;
	font-size: 18px;
}
.page li a:hover{
	font-weight: 900;
}
.page_on{
	border-bottom: 2px solid #17B7D0;
}
.register_btn{
	position: absolute;
	top: 0;
	right: 0;
}
.register_btn a{
	font-size: 20px;
	font-weight: 900;
	color: #fff;
	background-color: #17B7D0;
	padding: 12px 45px;
}

/*section3*/
.insta_section{
	height: 656px;
	background-color: #D5F1F8;
	margin-top: 90px;
	position: relative;
	overflow: hidden;
}
.frame{
	position: absolute;
	top: 83px;
	left: 50%;
	margin-left: -174.805px;
	z-index: 9;
}
.img_animated-title {
	position: relative;
}
.img_animated-title .img_content {
	position: absolute;
	top: 145px;
	white-space: nowrap;
	will-change: transform;
	animation: marquee2 35s linear infinite;
}
.img_content img{
	display: inline-block;
	margin: 0 -3px;
}
@keyframes marquee2 {
	from {
		transform: translateX(0);
	}
	to {
		 transform: translateX(-50%);
	}
}
@media (hover: hover) and (min-width: 700px) {
	.img_animated-title .img_content {
		-webkit-transform: translateY(calc(100% - 8rem));
		transform: translateY(calc(100% - 2rem));   
	}
}


/*sub3_여행상품*/

/*cate*/
.sub3_cate{
	background-image: url(../images/sub3_cate_bg.svg);
}

/*search_bar*/
.search_bar{
	height: 100px;
	border-bottom: 1.5px solid #17B7D0;
}
.search_bar_inner{
	margin: 0 auto;
	width: 1200px;
}
.search_bar_inner p{
	float: left;
	font-size: 25px;
	color: #17B7D0;
	margin-top: 40px;
}
.search_bar .search_wrap{
	margin: 28px 0;
}

/*section1*/
#sub3_section1{
	height: 1030px;
	background: url(../images/sub3_section1_bg.svg) no-repeat center top 289px;
	position: relative;
}
#sub3_section1 .sub_title{
	padding-top: 170px;
}
.flag_position{
	position: absolute;
}
.canada_position{
	top: 423px;
	left: 130px;
}
.us_position{
	top: 520px;
	left: 185px;
}
.brazil_position{
	top: 760px;
	left: 290px;
}
.portugal_position{
	top: 540px;
	left: 535px;
}
.czechia_position{
	top: 485px;
	left: 610px;
}
.mongolia_position{
	top: 470px;
	right: 230px;
}
.thailand_position{
	top: 610px;
	right: 240px;
}
.vietnam_position{
	top: 675px;
	right: 180px;
}
.japan_position{
	top: 570px;
	right: 105px;
}
.australia_position{
	top: 815px;
	right: 95px;
}
.flag_wrap{
	position: relative;
	transition: transform 0.5s;
}
.flag_wrap:hover{
	transform: translate(-5px, -5px);
}
.flag_cover{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 10px;
	left: 13px;
	border-radius: 50%;
	color: #fff;
	font-size: 17px;
	font-weight: 900;
	text-align: center;
	box-sizing: border-box;
	opacity: 0;
	transition: opacity 0.5s;
}
.flag_wrap:hover .flag_cover{
	opacity: 1;
}
.canada_cover{
	width: 85px;
	height: 85px;
	padding-top: 35px;
}
.us_cover{
	width: 120px;
	height: 120px;
	padding-top: 51px;
}
.brazil_cover{
	width: 90px;
	height: 90px;
	padding-top: 37px;
}
.portugal_cover{
	width: 66px;
	height: 66px;
	padding-top: 24px;
}
.czechia_cover{
	width: 85px;
	height: 85px;
	padding-top: 34px;
}
.mongolia_cover{
	width: 100px;
	height: 100px;
	padding-top: 40px;
}
.thailand_cover{
	width: 78px;
	height: 78px;
	padding-top: 30px;
}
.vietnam_cover{
	width: 65px;
	height: 65px;
	padding-top: 24px;
}
.japan_cover{
	width: 45px;
	height: 45px;
	padding-top: 13px;
}
.australia_cover{
	width: 80px;
	height: 80px;
	padding-top: 30px;
}

/*section2*/
#sub3_section2{
	height: 1300px;
	overflow: hidden;
}
.continent_product{
	padding: 90px 0 105px 17px;
	overflow: hidden;
}
.continent_product li{
	float: left;
	margin-right: 45px;
	position: relative;
}
.continent_product li:nth-child(5){
	float: right;
	margin-right: 0;
}
.continent_img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	transition: transform 0.5s;
}
.continent_img:hover{
	transform: translate(-17px, -17px);
}
.continent_img img{
	display: block;
}
.continent_bg{
	width: 200px;
	height: 200px;
	background-color: #28B9AD;
}
.continent_txt{
	display: inline-block;
	font-size: 25px;
	font-weight: 900;
	color: #28B9AD;
	margin-top: 25px;
}

.link_product_wrap{
	height: 685px;
}
.link_product_wrap .swiper-wrapper{
	margin: 0 auto;
	width: 993px;
}
.link_product_wrap .swiper-slide{
	overflow: hidden;
}
.product_box{
	float: left;
}
.product_img_wrap{
	width: 300px;
	height: 300px;
	overflow: hidden;
}
.product_img_wrap img{
	transition: transform 0.5s;
}
.product_img_wrap img:hover{
	transform: scale(1.1);
}
.margin46{
	margin: 0 46px;
}
.product_title, .content_title{
	width: 300px;
	height: 130px;
	background-color: #28B9AD;
	font-family: 'NEXON Lv2 Gothic';
	font-size: 20px;
	line-height: 26px;
	color: #fff;
	text-align: left;
	padding: 20px;
	box-sizing: border-box;
}
.product_tag, .content_tag{
	font-size: 15px;
	margin-top: 15px;
}
.product_more{
	display: inline-block;
	width: 125px;
	height: 45px;
	font-size: 20px;
	color: #fff;
	background-color: #28B9AD;
	border-radius: 70px;
	padding: 11px;
	box-sizing: border-box;
	margin-top: 82px;
}
.product_more:hover{
    font-weight: 900;
}

/*banner*/
#sub3_banner{
	display: block;
	height: 250px;
	background: url(../images/sub3_banner.svg) no-repeat center;
}

/*section3*/
#sub3_section3{
	height: 1067px;
}
.personalized_wrap{
	margin-top: 130px;
	height: 550px;
	position: relative;
	text-align: left;
	background-repeat: no-repeat;
	background-position: left;
}
.btn_bg li{
	height: 550px;
	position: absolute;
	top: 0;
	left: 0;
	width: 450px;
}
.healing_bg{
	background-image: url(../images/sub3_section3_healing_bg.svg);
}
.activity_bg{
	background-image: url(../images/sub3_section3_activity_bg.svg);
}
.food_bg{
	background-image: url(../images/sub3_section3_food_bg.svg);
}
.btn_wrap{
	font-weight: 900;
	position: absolute;
	top: 145px;
	left: 34px;
	z-index: 9;
}
.btn_wrap h2{
	font-size: 30px;
	line-height: 35px;
	color: #fff;
	padding-bottom: 40px;
}
.btn_wrap h2 span{
	font-size: 35px;
}
.btn li a{
	display: inline-block;
	font-size: 18px;
	color: #fff;
	background-color: #28B9AD;
	border-radius: 20px;
	padding: 8px 20px;
	margin-bottom: 15px;
}
.personalized_product{
	position: absolute;
	top: 60px;
	right: 0;
	width: 960px;
	height: 430px;
	overflow: hidden;
}
.personalized_product ul li{
	float: left;
	width: 33.3%;
}
.btn li{
	transition: transform 0.5s;
}
.btn li:hover{
	transform: scale(1.1);
}